@import "compass/css3";

@include keyframes (pulse) {
    0% {
        @include transform(scale3d(1, 1, 1));
    }
    100% {
         @include transform(scale3d(1.2, 1.2, 1));
    }
};

body {
    font-family: 'Helvetica', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    background-color: #e0e0e0;
    color: #ffffff;
}

#info,
#date {
    left: 8px;
    right: 8px;
    top: 10px;
    @include border-radius(8px);

    z-index: 2;
    box-sizing: border-box;
    position: absolute;

    background-color: #ffffff;
    color: #000000;
    @include box-shadow(0px 0px 10px rgba(0, 0, 0, .5));
    padding: 20px;

    @include transition(
        opacity .4s ease-out, transform .3s ease-out
    );
    
    @include transform(translate3d(0, 0, 0));
    @include opacity(0);

    .with-geocoded & {
         @include opacity(.75);
    }

    .interacting & {
        opacity: 0;    
    }
}

#info {
    .interacting & {
        @include transform(translate3d(0, -30px, 0));
    }

    @media screen and (min-width: 800px)  {
        max-width: 500px;
    }
}

#date {
    .interacting & {
        @include transform(translate3d(0, 30px, 0));
    }

    top: inherit;
    left: inherit;
    bottom: 10px;

    @media screen and (max-width: 400px)  {
        left: 8px;
        font-size: 14px;
        text-align: center;
    }
}

#info h1,
#info p {
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
}

#info h1 {
    font-size: 20px;
    padding-bottom: 10px;
}

#info p:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border: 0;
}

#info p {
    background: no-repeat url('../time.svg');
    @include background-size(24px 24px);
    min-height: 24px;
    padding-left: 30px;
    padding-top: 1px;
}

#info p.cleaning_info {
    background-image: url('../today.svg');
}

#map {
    z-index: 1;
    border: 0;
    width: 100%;
    height: 100%;
}

.marker {
    opacity: .7;
    background-color: #ffffff;
    @include box-shadow(0px 0px 10px #000000);
    width: 30px;
    height: 30px;
    
    &, .inner {
        @include border-radius(50%);
    }
}

.marker .inner {
    width: 20px;
    height: 20px;
    background-color: blue;
    margin-left: 5px;
    margin-top: 5px;
    @include animation(pulse .75s ease-in alternate infinite);
}

.mapboxgl-ctrl-attrib,
.mapboxgl-ctrl-logo {
    display: none !important;
}