@-moz-keyframes pulse {
  0% {
    -moz-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  100% {
    -moz-transform: scale3d(1.2, 1.2, 1);
    transform: scale3d(1.2, 1.2, 1);
  }
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  100% {
    -webkit-transform: scale3d(1.2, 1.2, 1);
    transform: scale3d(1.2, 1.2, 1);
  }
}
@keyframes pulse {
  0% {
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  100% {
    -moz-transform: scale3d(1.2, 1.2, 1);
    -ms-transform: scale3d(1.2, 1.2, 1);
    -webkit-transform: scale3d(1.2, 1.2, 1);
    transform: scale3d(1.2, 1.2, 1);
  }
}
@-moz-keyframes pulseBg {
  0% {
    -moz-background-size: 100px 100px;
    background-size: 100px 100px;
  }
  100% {
    -moz-background-size: 120px 120px;
    background-size: 120px 120px;
  }
}
@-webkit-keyframes pulseBg {
  0% {
    -webkit-background-size: 100px 100px;
    background-size: 100px 100px;
  }
  100% {
    -webkit-background-size: 120px 120px;
    background-size: 120px 120px;
  }
}
@keyframes pulseBg {
  0% {
    -moz-background-size: 100px 100px;
    -o-background-size: 100px 100px;
    -webkit-background-size: 100px 100px;
    background-size: 100px 100px;
  }
  100% {
    -moz-background-size: 120px 120px;
    -o-background-size: 120px 120px;
    -webkit-background-size: 120px 120px;
    background-size: 120px 120px;
  }
}
/* line 21, ../sass/pantera.scss */
*:focus {
  outline: none;
}

/* line 25, ../sass/pantera.scss */
body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #ffffff;
  background-position: center center;
  -moz-background-size: 100px 100px;
  -o-background-size: 100px 100px;
  -webkit-background-size: 100px 100px;
  background-size: 100px 100px;
  background-repeat: no-repeat;
  -moz-animation: pulseBg 0.4s ease-in alternate infinite;
  -webkit-animation: pulseBg 0.4s ease-in alternate infinite;
  animation: pulseBg 0.4s ease-in alternate infinite;
}
/* line 26, ../sass/pantera.scss */
body, body select {
  font-family: 'Helvetica', sans-serif;
  font-size: 16px;
}

/* line 42, ../sass/pantera.scss */
#info,
#date {
  z-index: 2;
  left: 8px;
  right: 8px;
  top: 10px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  box-sizing: border-box;
  position: absolute;
  background-color: #ffffff;
  color: #000000;
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  padding: 20px;
  -moz-transition: opacity 0.4s ease-out, -moz-transform 0.3s ease-out;
  -o-transition: opacity 0.4s ease-out, -o-transform 0.3s ease-out;
  -webkit-transition: opacity 0.4s ease-out, -webkit-transform 0.3s ease-out;
  transition: opacity 0.4s ease-out, transform 0.3s ease-out;
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 66, ../sass/pantera.scss */
.with-geocoded.with-street-info #info, .error #info, .with-geocoded.with-street-info
#date, .error
#date {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
/* line 71, ../sass/pantera.scss */
.interacting.with-geocoded.with-street-info #info, .interacting.with-geocoded.with-street-info
#date {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

/* line 77, ../sass/pantera.scss */
.interacting #info {
  -moz-transform: translate3d(0, -50px, 0);
  -ms-transform: translate3d(0, -50px, 0);
  -webkit-transform: translate3d(0, -50px, 0);
  transform: translate3d(0, -50px, 0);
}
@media screen and (min-width: 800px) {
  /* line 76, ../sass/pantera.scss */
  #info {
    max-width: 500px;
  }
}

/* line 86, ../sass/pantera.scss */
#date {
  top: inherit;
  left: inherit;
  bottom: 10px;
}
/* line 87, ../sass/pantera.scss */
.interacting #date {
  -moz-transform: translate3d(0, 50px, 0);
  -ms-transform: translate3d(0, 50px, 0);
  -webkit-transform: translate3d(0, 50px, 0);
  transform: translate3d(0, 50px, 0);
}
@media screen and (max-width: 600px) {
  /* line 86, ../sass/pantera.scss */
  #date {
    left: 8px;
    text-align: center;
    padding-left: 8px;
    padding-right: 8px;
  }
}
@media screen and (max-width: 400px) {
  /* line 86, ../sass/pantera.scss */
  #date {
    font-size: 14px;
  }
}

/* line 107, ../sass/pantera.scss */
#info h1,
#info p {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
}
/* line 114, ../sass/pantera.scss */
#info h1 {
  font-size: 20px;
  padding-bottom: 10px;
}
/* line 118, ../sass/pantera.scss */
.error #info h1 {
  padding-bottom: 0;
}
/* line 123, ../sass/pantera.scss */
#info p {
  background: no-repeat url("../time.svg");
  -moz-background-size: 24px 24px;
  -o-background-size: 24px 24px;
  -webkit-background-size: 24px 24px;
  background-size: 24px 24px;
  min-height: 24px;
  padding-left: 30px;
  padding-top: 1px;
}
/* line 130, ../sass/pantera.scss */
.no-touch #info p {
  padding-top: 3px;
}
/* line 134, ../sass/pantera.scss */
#info p.cleaning_info {
  background-image: url("../today.svg");
}
/* line 138, ../sass/pantera.scss */
#info p:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border: 0;
}
/* line 145, ../sass/pantera.scss */
#info select {
  -moz-appearance: none;
  -webkit-appearance: none;
  padding: 0;
  border: 0;
  font-weight: bold;
  color: #000000;
  background-color: #ffffff;
}

/* line 155, ../sass/pantera.scss */
#map {
  z-index: 1;
  border: 0;
  width: 100%;
  height: 100%;
}
/* line 161, ../sass/pantera.scss */
#map .marker {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  background-color: #ffffff;
  -moz-box-shadow: 0px 0px 10px #000000;
  -webkit-box-shadow: 0px 0px 10px #000000;
  box-shadow: 0px 0px 10px #000000;
  width: 30px;
  height: 30px;
}
/* line 168, ../sass/pantera.scss */
#map .marker, #map .marker .inner {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
/* line 172, ../sass/pantera.scss */
#map .marker .inner {
  width: 20px;
  height: 20px;
  background-color: blue;
  margin-left: 5px;
  margin-top: 5px;
  -moz-animation: pulse 0.75s ease-in alternate infinite;
  -webkit-animation: pulse 0.75s ease-in alternate infinite;
  animation: pulse 0.75s ease-in alternate infinite;
}
/* line 181, ../sass/pantera.scss */
#map .marker p {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  color: #000000;
  position: absolute;
  width: 200px;
  text-align: center;
  font-weight: bold;
  left: -85px;
  top: 24px;
  text-shadow: 0px 0px 5px #ffffff;
}
/* line 194, ../sass/pantera.scss */
#map .mapboxgl-ctrl-attrib,
#map .mapboxgl-ctrl-logo {
  display: none !important;
}
